@import 'variable';

.sidebar-menu {
    width: 200px;
    position: relative;
}

.sidebar-menu::after {
    content: '';
    width: 200px;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.menu-item:hover {
    background-color: $main-color;
    color: rgb(243, 113, 26);
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    position: relative;
    z-index: 1;

    .icon-menu {
        width: 30px;
        margin-right: 10px;
    }

    .last-item {
        display: block
    }
}

.menu-item:not(:last-child) {
    border-bottom: solid 0.5px #F2F2F2;
}

.scrollbar {
    overflow-y: scroll;
    max-height: 485px;
    width: 205px;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
}