<div class="container pt-3">
    <div class="sidebar-menu">
        <div *ngFor="let item of menu " >
            <div class="menu-item">
                 <!-- <img [src]="item.img" class="icon-menu"> -->
            <span class="font-weight-bold">
                {{item.name}}
            </span>
            <nb-icon icon="arrow-ios-downward-outline" *ngIf="item.menuChild && item.menuChild.length > 0"></nb-icon>
            </div>
           

            <div *ngIf="item.menuChild && item.menuChild.length > 0" >
                <div *ngFor="let el of item.menuChild" class="menu-item ml-3">
                    {{el.name}}

                </div>
            </div>

        </div>
    </div>
</div>